:root{
--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);
--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'karla', sans-serif;
    background: var(--Light-Gray);
    color: #fff;
   /* min-width: 100vw;*/
}
.container{
background: #fff;
max-width: 250px;
max-height: 100vh;
margin:50px auto 10px auto;
border-radius:.3rem;
}
h3{
    margin: 12px auto 15px auto;
}
.dad{
    color: var(--Cyan);
}
.days{
    margin-bottom:10px;
    color: var(--Bright-Yellow); 
    font-size: small;
    line-height: 1.3;
}
.money{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.full{
    margin-bottom: 15px;
}
.group{
    padding:5px 20px;
}
.son+p{
    padding-right: 60px;
}
.group1{
    color: hsla(0,0%,0%, 50%)
}
.group2{
    background: var(--Cyan);
}
.group3{
    background:  hsla(179, 62%, 43%, 80%);
    border-bottom-left-radius:.3rem ;
    border-bottom-right-radius:.3rem ;
}
p{
    line-height: 1.8;
    font-size: x-small;
    margin-bottom: 10px;
    opacity: 0.6;
}
.currency{
    font-size: xx-large;
    margin-right: 10px;
}
.duration{
    font-size: small;
    opacity: 0.5;
}
button{
    min-width: 200px;
    margin:5px auto 10px auto ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: .2rem;
    border:none;
    color:white;
    background: var(--Bright-Yellow);
}

@media (min-width:768px){
    .container{
        min-width:500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .flex2{
        display: flex;
    }
    .group2, .group3{
        min-width:calc(500px/2);
    }
    .group3{
        border-bottom-left-radius: 0;
    }
}





